img{
    width: 100vw;
    height: 40vh;
    display: block;
}

.compass{
    width: 250px;
    height: 250px;
    background-image: url("../../img/compass.png");
    background-size: 100%;
    margin: 0 auto;
}

button{
    width: 100%;
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    white-space: normal;
}

.buttonWarning{
    background-color: rgb(133, 31, 31);
}

.buttonObjectives{
    background-color: rgb(46, 137, 223);
}

.buttonObjectivesHalf{
    background-color: rgb(46, 137, 223);
    width: 49%;
}

a{
    color: white;
}

#betteFormat{
    white-space: normal;
    font-size: 80%;
}
